.wrapper{
    color: var(--colour-primary-text);
}
.programmeContainer button{
    cursor: pointer;
}

.programmeContainer input{
    background-color: var(--colour-input-background);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: inset;
    color: var(--colour-primary-text);
}
.programmeContainer input:focus{
    border-color: var(--colour-primary-button-hover);
    outline: none;
}
.programmeContainer{
    display: grid;
    grid-template-areas: 
            "header header"
            "sidebar content"
            "footer footer";
    grid-template-columns: minmax(100px, 250px) 1fr;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.sidebar{
    border-right: 1px solid var(--colour-default-border);
    min-width: 100px;
    max-width: 250px;
    grid-area: sidebar;
    align-self: start;
}

.sessionSidebar:hover{
    background-color: var(--colour-primary-accent);
}

.sidebar > div > p{
    text-align: center;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.sidebar > div:hover{
    cursor: pointer;
}

.content{
    grid-area: content;
    background-color: var(--colour-primary-foreground);
    height: 100%;
    width: 100%;
}

.footer{
    grid-area: footer;
    height: 50px;
    border: 1px solid var(--colour-default-border);
}

.header{
    grid-area: header;
    height: 50px;
    border: 1px solid var(--colour-default-border);
    text-align: center;
}

.addBtn{
    border: none;
    width: 150px;
    border-radius: 2px;
    background-color: var(--colour-primary-button);
}

.addBtn:hover{
    color: var(--colour-primary-text);
}

.addSessionBtn{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

.addSessionBtnWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.showBtn, .hideBtn{
    font-size: 40px;
    border: none;
    background: none;
    color: var(--colour-primary-text);
    float: right;
}
